@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

span.style-module_starRatingWrap__q-lJC {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
